h1 {
    font-family: poppins, sans-serif;
    font-size: 128px;
    font-weight: 800;
}

h2 {
    font-family: poppins, sans-serif;
    font-size: 72px;
    font-weight: 600;
}

h3 {
    font-family: poppins, sans-serif;
    font-size: 48px;
    font-weight: 600;
}

h4 {
    font-family: poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
}

h5 {
    font-family: poppins, sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p {
    font-family: poppins, sans-serif;
    font-size: 16px;
}

#hero-img {
    height: 400px;
    background-color: rgb(219, 147, 147);
}

#footer {
    height: 320px;
}

#logo {
    background-color: rgb(219, 147, 147);
}

#nav {
    background-color: rgb(219, 147, 147);
}

#service1 {
    background-color: rgb(219, 147, 147);
}

#service2 {
    background-color: rgb(219, 147, 147);
}

#service3 {
    background-color: rgb(219, 147, 147);
}

#service4 {
    background-color: rgb(219, 147, 147);
}

#product1 {
    background-color: rgb(219, 147, 147);
}

#product2 {
    background-color: rgb(219, 147, 147);
}

#footer {
    background-color: rgb(219, 147, 147);
}
